<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="shortcut icon" href="../images/radio.ico"/>
    <style type="text/css">
        .laytable-cell-1-imageHeaderAddr{
            height: 100%;
            max-width: 100%;
        }
        .search {
            width: 180px;
            height: 38px;
            border: 1px solid #d2d2d2;
            border-radius: 10px;
            padding-left: 20px;
            margin-top: 4px;
        }
    </style>
</head>
<body>
    <button id="openFrame_btn" class="layui-btn layui-btn-normal" type="button"><i class="layui-icon">&#xe654;</i>添加</button>
    <button id="delAll" class="layui-btn layui-btn-danger" type="button"><i class="layui-icon">&#xe640;</i>批量删除</button>
    <input name="id" class="search s_id" placeholder="输入用户编号搜索">
    <input name="nickName" class="search nickName" placeholder="输入昵称搜索">
    <select name="sex" class="sex" style="width: 160px;height: 38px;border-radius: 10px;padding-left: 20px;margin-top: 4px;border: 1px solid #d2d2d2;">
        <option value="">选择性别...</option>
        <option value="0">男</option>
        <option value="1">女</option>
    </select>
    <button id="search_btn" type="button" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>搜索</button>
    <div id="infoFrame" style="display: none;">
        <form method="post" id="fm" class="layui-form layui-form-pane" lay-filter="form_filter">
            <div class="layui-form-item" >
                <div id="idField" style="display: none;">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-inline">
                        <input id="id" name="id" value="0">
                    </div>
                </div>
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input class="layui-input" id="userName" name="userName" autocomplete="off" lay-verify="required" placeholder="请输入用户名">
                </div>
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <select name="sex" id="sex" autocomplete="off" >
                        <option value="">选择性别...</option>
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="birthDay" id="birthday" autocomplete="off" >
                </div>
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input class="layui-input" id="phone" name="phone" autocomplete="off"
                           lay-verify="phone" placeholder="请输入电话">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="email" id="email" autocomplete="off" placeholder="请输入邮箱">
                </div>
                <label class="layui-form-label">权限</label>
                <div class="layui-input-inline">
                    <select id="roleId" name="roleId" lay-verify="required">
                        <option value="">请选择权限...</option>
                        <option value="0">用户</option>
                        <option value="1">主播</option>
                        <option value="2">管理员</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="nickName" id="nickName" autocomplete="off" placeholder="请输入昵称">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">个人标签</label>
                <div class="layui-input-inline">
                    <textarea name="label" id="label" maxlength="28" placeholder="28字个人标签" style="width: 400px; height: 80px;"></textarea>
                </div>
            </div>
                <button style="display: none;" id="submitBtn" type="button" lay-submit lay-filter="saveUserInfo">
                    提交
                </button>
        </form>
    </div>
    <table class="layui-table" lay-data="{id: 'tb_index'}" lay-filter="tab_filter" id="lay_tb"></table>
    <div id="tb" style="display:none;">
        <button type="button" lay-event="remove"  class="layui-btn layui-btn-danger layui-btn-mini"><i class="layui-icon">&#xe640;</i><span>删除</span></button>
        <button type="button" lay-event="download"  class="layui-btn layui-btn-normal layui-btn-mini"><i class="layui-icon">&#xe642;</i><span>编辑</span></button>
    </div>
    <div id="uploadFrame" style="display:none;">
        <div class="layui-upload">
            <button class="layui-btn layui-btn-normal" type="button"><i class="layui-icon">&#xe67c;</i>上传图片</button>
            <div class="layui-upload-list">
                <img style="width:260px;height:200px;border:1px solid #C0C0C0;" id="up_img" class="layui-upload-img">
                <p id="errText"></p>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="../../common/layui/css/layui.css" media="all">
    <script type="text/javascript" src="../../common/layui/layui.js" ></script>
    <script type="text/javascript" >
    layui.use(['table','layer','element','upload', 'laydate'],function(){
        var layer = layui.layer, $ = layui.jquery, table = layui.table, element = layui.element, upload = layui.upload, form = layui.form, laydate = layui.laydate;
        laydate.render({
            elem: '#birthday'
        });
        var tbOp = table.render({
            id: 'tb_index',
            url: '../../getMemberInfo',
            elem: "#lay_tb", 
            height: 400, 
            cols: [[
                {field: 'cb', checkbox: true},
                {field: 'id', sort: true, align: 'center', title: '编号', width: 180},
                {field: 'userName', sort: true, align: 'center', title: '用户名', width: 180},
                {field: 'imageHeaderAddr', align: 'center', title: '头像', width: 100},
                {field: 'birthday', align: 'center', title: '出生日期', width: 180},
                {field: 'sex', align: 'center', title: '性别', width: 100},
                {field: 'phone', align: 'center', title: '联系电话', width: 180},
                {field: 'email', align: 'center', title: '邮箱', width: 180},
                {field: 'nickName', align: 'center', title: '昵称', width: 200},
                {field: 'label', align: 'center', title: '个人标签', width: 200},
                {field: 'roleId', align: 'center', title: '权限等级', width: 180},
                {field: 'op', align: 'center', title: '操作', width: 180, toolbar: '#tb'}
                ]],
            page: true,
            done: (res, page, count) => {
                $("[data-field='imageHeaderAddr']").each((index, value) => {
                    if (index == 0)
                        return true;
                    let sex = $(value).next().next().text();
                    $(value).html("<img style='width: 180px;' src='' class='imgHeader'>");
                    $.get('../../getMemberImg', {'memberId' : $(value).prev().prev().text()}, (res, status, xhr) => {
                        $(value).find('img:eq(0)').attr('src', 'data:image/png;base64,' + res)
                    }, 'json');
                });
            }
        });
        isEdit = 0;
        $('#delAll').click(function () {
            var checkStatus = table.checkStatus('tb_index');
            var data = checkStatus.data;
            if (checkStatus.data.length == 0) {
                layer.msg('请选中需要删除的行', {icon: 5, time: 1200});
                return;
            }
            layer.confirm('是否要删除？', {icon: 3, title: '系统提示'}, function(index){
                var strIds = [];
                $.each(data, function (index, item) {
                    $.get('../../getCurrentMember', (res, state, xhr) => {
                        let id = res.currentMember[0].id;
                        if (parseInt(id) == parseInt(item.id)) {
                            layer.alert('当前删除的用户包含您自己，不予删除', {icon: 5});
                            return ;
                        }else
                            strIds.push(item.id);
                    }, 'json');
                });
                var ids = strIds.join(",");
                $.post('../../delMember', {'idArr': ids}, function(res){
                    if(res.success) {
                        layer.msg('删除成功');
                        tbOp.reload({
                            url:"../../getMemberInfo"
                        });
                    }
                    else{
                        layer.msg(res.errMsg, {icon:5, time:800});
                        tbOp.reload({
                            url: "../../getMemberInfo"
                        });
                    }
                }, 'json');
            });
        });
        table.on("tool(tab_filter)", function(obj){
            var event = obj.event;
            var data = obj.data;
            if(event == 'remove'){
                layer.confirm('是否要删除？', {icon: 3, title: '系统提示'}, function(index){
                    $.get('../../getCurrentMember', (res, state, xhr) => {
                        let id = res.currentMember[0].id;
                        if (id == data.id) {
                            layer.msg('自己不可删除自己', {icon : 5});
                            return;
                        }
                        $.post('../../delMember', {'idArr': data.id}, function(res){
                            if(res.success) {
                                layer.msg('删除成功');
                                layer.close(index);
                                tbOp.reload({
                                    url:"../../getMemberInfo"
                                });
                            }
                            else{
                                layer.msg(res.errMsg, {icon:5, time:800});
                                layer.close(index);
                                tbOp.reload({
                                    url: "../../getMemberInfo"
                                });
                            }
                        }, 'json');
                    }, 'json');

                });
            }else {
                isEdit = 1;
                openFrame([640, 400], '编辑用户', $('#infoFrame'));
                $('#fm').find('input').each(function (index, value) {
                   $(value).val(data[$(value).attr('id')]);
                });
                $('#label').val(data.label);
                $('#sex').val(data.sex == '男' ? 0 : 1);
                $("#roleId").val(data.roleId == '管理员' ? 2 : data.roleId == '用户' ? 0 : 1)
                $('#birthday').val(data.birthday);
                form.render();
            }
        });
        form.on('submit(saveUserInfo)', function (obj) {
            var email = $('#email').val();
            if (email != '' && !/^[0-9a-zA-Z]+@[0-9a-zA-Z].+\w+$/.test(email)) {
                layer.msg('邮箱格式不正确', {icon: 5, time: 1200});
                return;
            }
            $.ajax({
                url: '../../saveMember?isEdit=' +isEdit,
                data: $('#fm').serialize(),
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        layer.msg('保存成功', {icon: 6, time: 1000});
                        setTimeout(function () {
                            layer.closeAll();
                            tbOp.reload({
                                url: "../../getMemberInfo"
                            });
                        }, '1000');
                    }else
                        layer.msg(res.errMsg, {icon: 5, time: 1200});

                },
                error: function () {
                    layer.msg('网络连接失败', {icon: 5, time: 1200});
                }
            });
        });
        var clearForm = function () {
            document.getElementById('fm').reset();
            form.render();
        };
        var openFrame = function (area, title, content) {
            layer.open({
                title: title,
                content: content,
                type: 1,
                area: [area[0] + 'px', area[1] + 'px'],
                btn: ['保存', '取消'],
                yes: function () {
                    $('#submitBtn').click();
                },
                end: function () {
                    clearForm();
                },
                btn2: function (index, layero) {
                    layer.close(index);
                }
            });
        };
        $('#openFrame_btn').click(function(){
            isEdit = 0;
            openFrame([640, 400], '添加用户', $('#infoFrame'));
        });
        $('#search_btn').click(function () {

           tbOp.reload({
              url: '../../getMemberInfo',
               where: {
                   id: $('.s_id').val() == '' ? 0 : $('.s_id').val(),
                   nickName: $(".nickName").val() ,
                   s_sex: $('.sex').val() == '' ? -1 : $('.sex').val()
               }
           });
        });
    });
</script>
</body>
</html>