<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="shortcut icon" href="../images/radio.ico"/>
    <style type="text/css">
        .laytable-cell-1-view{
            height: 100%;
            max-width: 100%;
        }
        .laytable-cell-0-view{
            height: 100%;
            h: 100%;
        }
    </style>
</head>
<body>
    <table class="layui-table" lay-filter="tab_filter" id="lay_tb"></table>
    <div id="tb" style="display:none;">
        <button type="button" lay-event="remove"  class="layui-btn layui-btn-danger layui-btn-mini"><i class="layui-icon">&#xe640;</i><span>删除</span></button>
    </div>
    <iframe style="display: none;" id="pdfIframe" ></iframe>
    <img src="" id="previewImg" style="display: none;">
    <div class="audio" style="position: absolute; left: 36%; top: 32%;display: none; ">
        <div class="closeMusicBtn" style="background-color: #F1F3F4;cursor: pointer;width: 17px;height: 17px; margin-left: 92%;"><img width="16" height="16" src="../../images/closeBtn.png"></div>
        <audio id="player" preload="auto" src="" controls="controls" autoplay />
    </div>
    <div class="prewViewTxt" style="display: none;">
        <pre></pre>
    </div>
    <link rel="stylesheet" href="../../common/layui/css/layui.css" media="all">
    <script type="text/javascript" src="../../common/layui/layui.js" ></script>
    <script type="text/javascript" >
    layui.use(['table','layer','element','upload'],function(){
        var layer = layui.layer, $ = layui.jquery, table = layui.table, element = layui.element, upload = layui.upload;
        var tbOp = table.render({
            url: '../../getAllFiles?selectVersion=0',
            elem: "#lay_tb", 
            height: 400, 
            cols: [[
                {field: 'cb', checkbox: true},
                {field: 'id', sort: true, align: 'center', title: '编号', width: 100},
                {field: 'type', align: 'center', title: '文件类型', width: 100},
                {field: 'fileName', align: 'center', title: '文件名', width: 180},
                {field: 'view', align: 'center', title: '预览文件', width: 100},
                {field: 'uploadMemId', align: 'center', title: '上传人', width: 120},
                {field: 'uploadDate', align: 'center', title: '上传时间', width: 180},
                {field: 'storeAddr', sort: true, align: 'center', title: '存放地址', width: 180},
                {field: 'fileDesc', align: 'center', title: '赠词', width: 180},
                {field: 'op', align: 'center', title: '操作', width: 100, toolbar: '#tb'}
                ]], 
            page: true,
            done: (res, page, count) => {
                $("[data-field='view']").each((index, value) => {
                    if (index == 0) {
                        $(value).html("<div style='width: 100px;'><img width=16 height='16' src='../../images/eye.png'>" + $(value).text() + "</div>");
                        return true;
                    }
                    $(value).css('cursor', 'pointer');
                    let storeAddr = $(value).next().next().next().text();
                    let fileType = storeAddr.substring(storeAddr.indexOf(".") + 1);
                    switch (fileType) {
                        case "pdf" :
                            $(value).html("<img style='width: 100px;' title='点击可预览' onclick='preview(this)' src='../../images/pdf.jpeg' class='imgHeader'>");
                            break;
                        case "txt" :
                            $(value).html("<img style='width: 100px;' title='点击可预览' onclick='preview(this)' src='../../images/txt.jpg' class='imgHeader'>");
                            break;
                        default :
                            let strFilter = ".jpeg|.gif|.jpg|.png|.bmp|.pic|";
                            let arr = strFilter.split("|", 6);
                            $.each(arr, (item, itemValue) => {
                                if ("." + fileType == itemValue) {
                                    $(value).html("<img style='width: 100px;' onclick='preview(this)' title='点击可预览' src='../../images/pic.jpg' class='imgHeader'>");
                                    return false;
                                }else {
                                    item == 5 ? $(value).html("<img style='width: 100px;' title='点击可预览' onclick='preview(this)' src='../../images/mp3.jpg' class='imgHeader'>") :
                                        undefined;
                                }
                            });

                    }
                });
            }
        });
        $('.closeMusicBtn').mouseover(() => {
            $('.closeMusicBtn').css('background', '#FF5722');
            $('.closeMusicBtn').find('img:eq(0)').attr('src', '../../images/closeBtn_white.png');
        });
        $('.closeMusicBtn').mouseout(() => {
            $('.closeMusicBtn').css('background', '#F1F3F4');
            $('.closeMusicBtn').find('img:eq(0)').attr('src', '../../images/closeBtn.png');
        });
        $('.closeMusicBtn').click(() => {
             $('.audio').css('display', 'none');
             document.querySelector('#player').pause();
        });
        window.preview = function (obj) {
                let storeAddr = $(obj).parent().next().next().next().text();
                let fileType = storeAddr.substring(storeAddr.indexOf(".") + 1);
                switch (fileType) {
                    case "pdf" :
                        $("#pdfIframe").css({
                           "width" : $(window).width() - 110 + 'px',
                            "height" : $(window).height() - 50 + 'px'
                        });
                        openFrame($("#pdfIframe"), [$(window).width() - 100 + 'px', $(window).height() - 50 + 'px'], $(obj).parent().prev().text() + '预览效果');
                        $("#pdfIframe").attr("src","../../pdf/web/viewer.html?file="+ encodeURIComponent("../../previewFile?fileId=" + $(obj).parent().prev().prev().prev().text()));
                        break;
                    case "txt" :
                        $.ajax({
                            url: '../../previewFile',
                            dataType: "text",
                            data: {fileId: $(obj).parent().prev().prev().prev().text(), isTxt : true},
                            contentType: "text/html;charset=utf-8",
                            success : function(res) {
                                $('.prewViewTxt').find('pre:eq(0)').text(res);
                            }
                        });
                        openFrame($(".prewViewTxt"), [$(window).width() - 100 + 'px', $(window).height() - 50 + 'px'], $(obj).parent().prev().text() + '预览效果');
                        break;
                    default :
                        let strFilter=".jpeg|.gif|.jpg|.png|.bmp|.pic|";
                        let arr = strFilter.split("|", 6);
                        $.each(arr, (item, itemValue) => {
                            if ("." + fileType == itemValue) {
                                $.get('../../getImgResolution', {fileId : $(obj).parent().prev().prev().prev().text()}, (res) => {
                                    var width = res.result.split("*")[0] / 2, height = res.result.split("*")[1] / 2;
                                    res != undefined ? $('#previewImg').css({
                                        'width' : width,
                                        'height' : height,
                                    }) : undefined;
                                    openFrame($("#previewImg"), [width + 10 + 'px', height + 20 + 'px'], $(obj).parent().prev().text() + '预览效果');
                                }, 'json');
                                $('#previewImg').attr('src', '../../previewFile?fileId=' + $(obj).parent().prev().prev().prev().text());
                                return false;
                            }else {
                                if (item == 5) {
                                    $('.audio').css('display', 'block');
                                    var storeAddr = $(obj).parent().next().next().next().text();
                                    if (storeAddr.indexOf(".") == -1) {
                                        $.ajax({
                                            url: '../../previewFile',
                                            dataType: "text",
                                            data: {fileId: $(obj).parent().prev().prev().prev().text(), isMusic : true},
                                            contentType: "text/json;charset=utf-8",
                                            success : function(res) {
                                                document.querySelector("#player").src = res;
                                            }
                                        });
                                    }
                                    document.querySelector("#player").src = '../../previewFile?fileId=' + $(obj).parent().prev().prev().prev().text() + "&isMusic=true";
                                }
                            }
                        });

                }
        }
        table.on("tool(tab_filter)", function(obj){
            var event = obj.event;
            var data = obj.data;
            if(event == 'remove'){
                layer.confirm('是否要删除？', {icon: 3, title: '系统提示'}, function(index){
                    $.post('../../delFile', {id: data.id}, function(res){
                        if(res.success) {
                            layer.msg('删除成功');
                            layer.close(index);
                            tbOp.reload({
                                url:"../../getAllFiles?selectVersion=0"
                            });
                        }
                        else{
                            layer.msg(res.errMsg, {icon:5, time:800});
                            layer.close(index);
                            tbOp.reload({
                                url: "../../getAllFiles?selectVersion=0"
                            });
                        }
                    }, 'json');
                });
            }
        });
        function openFrame (content, area, title) {
            layer.open({
                title: title,
                content: $(content),
                type: 1,
                area: [area[0], area[1]]
            });
        }
    });
</script>
</body>
</html>