<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="file" id="file">
    <button type="button" id="btn">预览</button>
    <div id="preview"></div>
</body>
<script type="text/javascript" src="../common/js/jquery.min.js"></script>
<script>
    var fileReader = new FileReader();
    document.querySelector('#btn').addEventListener('click', () => {
       fileReader.readAsText( document.querySelector('#file').files[0], 'gb2312');
       fileReader.onloadend = function (e) {
           document.querySelector('#preview').innerHTML = e.target.result;
       };
    });
</script>
</html>