<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="message"></div>
    <audio preload="auto"  controls="controls">
        <source src="">
        您的浏览器不支持 video 标签。
    </audio>
</body>
<script>
    window.onload = function () {
        document.getElementsByTagName('audio')[0].src = 'http://182.90.10.41:8088/pushRecordStreamByName?fileName=' + 'd:/fileUpload/录音_2018-12-12_1_11_55.amr';
    }
    //document.getElementsByTagName('audio')[0].play();
</script>
</html>