<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            <span>哈哈</span>
        </li>
        <li>
            <span>嘻嘻</span>
        </li>
        <li>
            <span>嘿嘿</span>
        </li>
    </ul>
</body>
<script type="text/javascript" src="../common/js/jquery.min.js"></script>
<script>
    [].forEach.call(document.querySelectorAll('ul li span'), function (value, index) {
        alert(value.innerHTML);
   });
</script>
</html>